<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490310020845-4fmmlb5mvddratle1qqt8jo060vo940m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490310020845-4fmmlb5mvddratle1qqt8jo060vo940m</string>
	<key>API_KEY</key>
	<string>AIzaSyALiOM3WdsxV7drvMsdJbZ_yCRnzUPH-qw</string>
	<key>GCM_SENDER_ID</key>
	<string>490310020845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.annie.foodProject</string>
	<key>PROJECT_ID</key>
	<string>food-app-firebase-49eda</string>
	<key>STORAGE_BUCKET</key>
	<string>food-app-firebase-49eda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490310020845:ios:c33d90bccfc7f8564be6e4</string>
</dict>
</plist>